public
app/config/app.php
app/config/database.php
app/config/developement
app/config/testing
app/views/site
app/views/index.blade.php
app/views/_frontend
app/assets
nbproject
.idea
gulpfile.js
node_modules